[{:itonami.blueprint/social-impact [:access-to-justice :small-firm-support :case-file-integrity], :itonami.blueprint/domain :legal/secretarial-support, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "3342", :itonami.blueprint/name "Independent Legal Secretarial Practice", :itonami.blueprint/governor :legal-secretary-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3342", :itonami.blueprint/license "AGPL-3.0-or-later"}]
